.topo{
	background-image: url("../img/AdobeStock_221016184.jpeg");
	background-size:cover;
	background-position:center top;
	background-repeat:no-repeat;
	background-color: #000;
	padding: 50px;
	font-family: "Montserrat", sans-serif;
	filter: brightness(70%);
}

.letra_branca{
	color: #FFF;
	text-decoration-color: #FFF;
}

.btn_navbar{
	background-color: #2e7261;
	color: #FFF;
}

.btn_navbar:hover{
	background-color: #2e7261;
	color: #FFF;
	opacity : 0.9
}
